.header__nav {
  display: flex;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .header__nav {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 449px) {
  .header__nav {
    flex-direction: column;
  }
}
