.title__subtitle {
  color: #fecda7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  letter-spacing: -1px;
}
@media screen and (max-width: 767.9px) {
  .title__subtitle {
    margin: 0 auto;
    font-size: 12px;
  }
}
