.wish__card {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wish__card:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767.9px) {
  .wish__card {
    flex-direction: column-reverse;
  }
}
