.intro {
  margin: 0 auto;
  padding: 0 0 90px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .intro {
    padding: 0 0 40px 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
