.intro {
  margin: 0 auto;
  padding: 20px 45px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width:767px){
  .intro {
      grid-template-columns: 1fr;
      padding: 0;
      row-gap: 20px;
  }
}
