.intro {
  margin: 0 auto;
  padding: 43px 0 126px;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    padding: 0;
    row-gap: 20px;
  }
}
