.pinky__subtitle {
  color: #fecda7;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pinky__subtitle {
    margin: 0 auto;
  }
}
