.intro__image {
  width: 56%;
  height: 90%;
  object-position: center center;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__image {
    width: 80%;
    height: auto;
  }
}

@media screen  and (max-width: 767px) {
  .intro__image {
    width: 100%;
    height: auto;
  }
}
